p{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5px;
  }
  
  .contain{
    display: inline-block;
    padding-bottom: 6px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    transition: box-shadow 1s;
    vertical-align: top;
    margin-right: 10px;
  }
  
  .contain:hover{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.80);
  }
  
  .img{
    width: 180px;
    height: 165px;
    object-fit: cover;
  }
  
  .name{
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .mutual{
    font-family: Arial;
    font-size: 13px;
    color: gray;
    display: inline-block;
    vertical-align: middle;
  }

  .mutual-friend-row{
    margin-left: 8px;
    margin-bottom: 10px;
  }

  .profile-icon{
    height: 28px;
    width: 28px;
    border-radius: 14px;
    object-fit: cover;
    vertical-align: middle;
    margin-right: 4px;
  }
  
  .add-btn{
    border: none;
    background-color: rgb(0, 140, 255);
    color: white;
    width: 95px;
    height: 35px;
    margin-top: 0;
    margin-left: 5px;
    transition: background-color 0.15s;
    cursor: pointer;
  }
  
  .add-btn:hover{
    background-color: rgb(0, 97, 177);
  }
  
  .add-btn:active{
    opacity: 0.7;
  }